@{
    ViewBag.Title = "Settings Landing Page";
    Layout = "~/Views/Shared/_LayoutUserSettings.cshtml";
}

<p>Landing Page</p>

<p>we should also have an option to search</p>
<p>List of Categories to choose from. One is displayed below</p>

